.separatorContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .separatorText {
    font-size: 1.7rem;
    font-weight: bold;
    width: 350px;
    text-align: right;
    line-height: 1.9rem;
  }
  .decorationArrowContainer {
    width: 50%;
  }
}
