.lastCoursesContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-around;
  .sectionTitle {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
  }
  .gallery {
    display: flex;
    justify-content: center;

    .imgContainer {
      width: calc((100% / 4) - 40px);
      height: auto;
      margin: 10px;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      box-shadow: 0 0 10px black;
      transition: box-shadow 0.3s ease-out;

      &:hover {
        box-shadow: 0 0 15px #e64041;
      }
    }
  }
  .jobsMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;

    .topWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .textMessage {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        font-family: "Oswald", sans-serif;
      }
    }
    .sign {
      font-size: 2rem;
      letter-spacing: 0.3rem;
      color: #e64041;
      font-family: "Poppins", sans-serif;
      font-style: italic;
    }
  }
}
