$hero-text-color: #ffffff;

.heroContainer {
  display: flex;
  height: 100vh;
  background: url("../../assets/images/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .heroTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    height: 250px;
    position: relative;
    top: 40%;
    left: 50%;

    .heroTitle {
      font-size: 4rem;
      width: 400px;
      color: $hero-text-color;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      line-height: 5rem;
    }
    .heroText {
      font-size: 2.3rem;
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      color: $hero-text-color;
      width: 450px;
      white-space: pre-line;
    }
  }
}
