.bannerLogin {
  display: block;
  margin: 0 auto;
  width: 450px;

  @media screen and (max-width: 480px) {
    width: auto;
  }

  .textBanner {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    border-top: 4px solid #e64041;
    border-bottom: 4px solid #e64041;
    padding: 10px 10px;
    text-align: center;

    @media screen and (max-width: 480px) {
      height: auto;
    }
  }
}
