$hp: 30px;
$vp: 20px;

$brand-bg: #000000;
$brand-color: #ffffff;

$btn-signup-bg: #000000;
$btn-login-bg: transparent;

.makingBrandContainer {
  height: 100vh;
  display: flex;
  align-items: center;

  @media screen and (max-width: 480px) {
    height: auto;
  }

  .sectionDecoration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #e64041;
    width: 35%;
    clip-path: polygon(0% 0%, 70% 0%, 100% 35%, 100% 65%, 70% 100%, 0% 100%);
    .image {
      padding: 50px;
      height: auto;
    }

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  .textContainer {
    display: flex;
    //height: 400px;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    //width: 700px;
    width: 65%;

    @media screen and (max-width: 480px) {
      width: 100%;
      
    }

    .makingBrandTitle {
      font-size: 2.7rem;
      font-weight: 800;
      font-family: "Poppins", sans-serif;
      text-align: center;

      @media screen and (max-width: 480px) {
        font-size: 2rem;
      }
    }
    .makingBrandText {
      font-size: 1.2rem;
      line-height: 1.7rem;
      font-family: "Poppins", sans-serif;
      letter-spacing: 0.03rem;
      line-height: 1.9rem;
      @media screen and (max-width: 480px) {
        font-size: 1rem;
      }
    }
  }
}
//clip-path: polygon(0% 0%, 71% 0%, 100% 35%, 100% 64%, 72% 100%, 0% 99%);
