$hp: 30px;
$vp: 20px;

$brand-bg: #000000;
$brand-color: #ffffff;

$btn-signup-bg: #000000;
$btn-login-bg: transparent;

.navbarContainer {
  padding: $vp 0px;
  position: absolute;
  top: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  .brand {
    font-family: 'Oswald', sans-serif;
    font-size: 2.2rem;
    text-align: center;
    background: $brand-bg;
    color: $brand-color;
    padding: 0 20px;
  }

  .userActionsContainer {
    display: flex;
    margin-right: 50px;
    .btn {
      font-family: 'Poppins', sans-serif;
      font-size: 1.625rem;
      font-weight: bold;
      padding: 0px 10px;

      &.login {
        color: #ffffff;
        background: $btn-login-bg;
        border: none;
        padding: 5px 10px;
        margin-right: 15px;
      }
      &.signup {
        background: $btn-signup-bg;
        color: #ffffff;
        border: none;
        border-radius: 20px;
        
      }
    }
  }
}
